[submodule "Internal/Libs/MinHook"]
	path = Internal/Libs/MinHook
	url = https://github.com/OmegaWareProjects/minhook.git
[submodule "Internal/Libs/ImGui"]
	path = Internal/Libs/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Internal/Libs/Nlohmann.json"]
	path = Internal/Libs/Nlohmann.json
	url = https://github.com/nlohmann/json.git
[submodule "Internal/Libs/FreeType"]
	path = Internal/Libs/FreeType
	url = https://github.com/OmegaWareProjects/freetype.git
